@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --cor-primaria: #0a99fe;
  --cor-primaria-10: #0a99fe1a;
  --cor-titulo: #1b1b1b;
  --cor-titulo-2: #868383;
  --cor-bg: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-bottom: 2px solid #f7f7f7;
}

.menu {
  display: flex;
  gap: 30px;
  background-color: var(--cor-bg);
}

.menu a {
  display: block;
  padding: 10px 40px;
  background-color: var(--cor-primaria);
  color: #ffffff;
  font-size: 20px;
  border-radius: 8px;
}

.menu a.inactive {
  background-color: var(--cor-primaria-10);
  color: var(--cor-primaria);
}

.menu a:hover {
  background-color: #1e8fdf;
}

.menu a.inactive:hover {
  background-color: #0f77c11a;
}

.products-container {
  margin: 80px 50px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.title::after {
  content: "";
  display: block;
  z-index: -1;
  background-color: var(--cor-primaria);
  width: 40px;
  height: 10px;
  margin-top: 5px;
}

.section ul {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 100px;
  padding: 50px 10px;
}

.section ul::-webkit-scrollbar {
  height: 15px;
}

.section ul::-webkit-scrollbar-thumb {
  background: #0a99fe;
  border-radius: 20px;
  border-left: 4px solid #f7f7f7;
  border-right: 4px solid #f7f7f7;
}

.section ul::-webkit-scrollbar-thumb:hover {
  background: #2b88ca;
}

.card {
  width: 207px;
  height: 275px;
  flex-shrink: 0;
  flex-basis: 207px;
  text-align: center;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 4px rgb(198, 195, 195);
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover span {
  color: #1b1b1b;
  transition: 0.3s ease;
}

.card img {
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}

.card h2 {
  color: var(--cor-primaria);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px 15px 0px;
}

.card span {
  display: block;
  color: var(--cor-titulo-2);
  font-size: 16px;
  padding: 0px 0px 20px 0px;
}
